:root {
  // font-size
  --o-font_size-display1: 64px; // 一级数据展示
  --o-font_size-display2: 54px; // 二级数据展示
  --o-font_size-display3: 36px; // 三级数据展示
  --o-font_size-display4: 28px; // 四级数据展示
  --o-font_size-h1: 24px; // 一级标题
  --o-font_size-h2: 20px; // 二级标题
  --o-font_size-h3: 18px; // 三级标题
  --o-font_size-h4: 16px; // 四级标题
  --o-font_size-text: 14px; // 正文
  --o-font_size-tip1: 12px; // 提示1
  --o-font_size-tip2: 10px; // 提示2-角标文本

  // line-height
  --o-line_height-display1: 84px; // 一级数据展示
  --o-line_height-display2: 76px; // 二级数据展示
  --o-line_height-display3: 48px; // 三级数据展示
  --o-line_height-display4: 36px; // 四级数据展示
  --o-line_height-h1: 32px; // 一级标题
  --o-line_height-h2: 28px; // 二级标题
  --o-line_height-h3: 26px; // 三级标题
  --o-line_height-h4: 24px; // 四级标题
  --o-line_height-text: 22px; // 正文
  --o-line_height-tip1: 18px; // 提示1
  --o-line_height-tip2: 14px; // 提示2-角标文本
}
