:root {
  /**
   * 基础色盘
   */

  // 克莱因蓝(品牌色)
  --o-color-kleinblue1: #000412;
  --o-color-kleinblue2: #000827;
  --o-color-kleinblue3: #0c2360;
  --o-color-kleinblue4: #00288d;
  --o-color-kleinblue5: #002fa7;
  --o-color-kleinblue6: #0d3cb4;
  --o-color-kleinblue7: #2555cd;
  --o-color-kleinblue8: #406fe7;
  --o-color-kleinblue9: #6b95ff;
  --o-color-kleinblue10: #b2c0e4;

  // 黄色(辅助色)
  --o-color-yellow1: #754c01;
  --o-color-yellow2: #a86d01;
  --o-color-yellow3: #da8e01;
  --o-color-yellow4: #feaa11;
  --o-color-yellow5: #feb32a;
  --o-color-yellow6: #ffc037;
  --o-color-yellow7: #ffd950;
  --o-color-yellow8: #fff36a;
  --o-color-yellow9: #ffed8a;
  --o-color-yellow10: #ffe1aa;

  // 中性色
  --o-color-neutral1: #121212;
  --o-color-neutral2: #151515;
  --o-color-neutral3: #2d2d2d;
  --o-color-neutral4: #3f3f3f;
  --o-color-neutral5: #555555;
  --o-color-neutral6: #707070;
  --o-color-neutral7: #848484;
  --o-color-neutral8: #999999;
  --o-color-neutral9: #b2b2b2;
  --o-color-neutral10: #cccccc;
  --o-color-neutral11: #e5e5e5;

  // 绿色
  --o-color-green1: #1f370f;
  --o-color-green2: #355f1a;
  --o-color-green3: #4b8725;
  --o-color-green4: #62af30;
  --o-color-green5: #6dc335;
  --o-color-green6: #7ad042;
  --o-color-green7: #93e95b;
  --o-color-green8: #adff75;
  --o-color-green9: #c6ff8e;
  --o-color-green10: #c5e7ae;

  // 橙色
  --o-color-orange1: #9b370e;
  --o-color-orange2: #b54f00;
  --o-color-orange3: #e86600;
  --o-color-orange4: #ff801c;
  --o-color-orange5: #ff8e36;
  --o-color-orange6: #ff9b43;
  --o-color-orange7: #ffb45c;
  --o-color-orange8: #ffce76;
  --o-color-orange9: #ffcf8f;
  --o-color-orange10: #ffd2af;

  // 红色
  --o-color-red1: #850d09;
  --o-color-red2: #b4110c;
  --o-color-red3: #e4160f;
  --o-color-red4: #f13b35;
  --o-color-red5: #f3524d;
  --o-color-red6: #ff5f5a;
  --o-color-red7: #ff7873;
  --o-color-red8: #ff928d;
  --o-color-red9: #ffaba6;
  --o-color-red10: #fabab8;

  // 灰黑色
  --o-color-greyblack1: #1e1e1e;
  --o-color-greyblack2: #242424;
  --o-color-greyblack3: #2e2e2e;
  --o-color-greyblack4: #383838;

  // 黑色
  --o-color-black: #000000;

  // 灰蓝色
  --o-color-greyblue1: #e5e8f0;
  --o-color-greyblue2: #f7f8fa;
  --o-color-greyblue3: #f5f6f8;

  // 白色
  --o-color-white: #ffffff;
}
